name: Spec tests (PR)

on:
    pull_request:
        branches:
            - "**"

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Python 3.13
              uses: actions/setup-python@v5
              with:
                  python-version: 3.13

            - name: Install uv
              run: pip install uv

            - name: Install python dependencies
              run: uv sync

            - name: Run spec tests
              run: |
                  sudo apt-get install -y golang
                  go install github.com/dsillman2000/yaml-reference-specs@latest
                  export YAML_REFERENCE_CLI_EXECUTABLE=$PWD/.venv/bin/yaml-reference-cli
                  yaml-reference-specs
